
:root{
    --background-bubble:rgb(80, 183, 255);
    --panda-skin:white;
}
body{
    margin:0%;
    padding:auto;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color:#f8f8ff;
    text-align: center;
    scroll-behavior: smooth;
    position: absolute;
    z-index: 2;
    
}
header{
    
    text-align: right;
}
#navbar{
    top: 0px;
   
    padding:10px;
    margin:0%;
    background:black;
}
nav span{
    font-size: large;
    margin: 20px;
    
}
.main-container{
    /* background:linear-gradient(0deg,#3E065F 90% , #700B97); */
    animation: back-ground 10s ease-in-out infinite;
}
.welcome{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome-section{
    font-size: 40px;
    text-align: center; 
    
}
#projects{
    
    /* background: linear-gradient(180deg,#3E065F 80%,black  ); */
    animation:  back-ground 10s ease-in-out infinite;
    margin:0;
    margin-top: 1000px;
}
.target-container{
    padding: 90px; 
}
.row{
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.target{
    border-radius: 10%;
    border-style: solid;
    padding:30px;
    margin:30px;
    background-color: #3E065F;
    width: 300px;
    max-width: 300px;
}
.target img{
    margin:0;
    height: 100px;
    width: 100px;
}
.links-pages{
   /*  background: linear-gradient(180deg,#3E065F 80%,black 2% ); */
   animation:  back-ground 10s ease-in-out infinite;
    text-align: center;
    margin:0;
}
.icons{
    display:flex;
    justify-content: space-around;
    
}
a{
    color:inherit;
    text-decoration: none;
    
}
footer{
    margin-bottom:0%;
    text-align: center;
    background-color: black;
}
img{
    margin:0%;
    padding:auto;

}
@keyframes back-ground {
    0%{
       background-color: #3E065F;
    }
    50%{
        background-color: #700B97;
    }
    100%{
        background-color: #3E065F;
    }
}



/*aqui va el dibujo*/
.chat-window{
    position:absolute;
    margin:200px 100px;
    width: 400px;
    height: 400px;
    top:1000px;
    left:150px;
    border-style: solid;
    border-color:black;
    border-width: 8px;
    background-color: var(--background-bubble);
    z-index:2;
    border-bottom-width: 20px;
    z-index: 1;
}
.border-window{
    position:absolute;
    width: 98%;
    height: 98%;
    bottom:.5px;
    z-index: 2;
}
.panda{
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.panda-head{
    position: absolute;
    width: 45%;
    height: 40%;
    margin-top:35%;
    margin-left:24%;
    background: linear-gradient(
        45deg,
        var(--panda-skin),
        rgb(239, 240, 228)
      );
    border-radius: 70% 70% 65% 65%;
    border-color:black;
    border-style: solid;
    z-index: 3;
}
.ear{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}
.ear.left{
    position: absolute;
    top:120px;
    left:60px;
    z-index: -1;
}
.ear.right{
    position: absolute;
    top:120px;
    left:220px;
    z-index: 1;
}
.eye{
  width: 15%;
  height: 17%;
  background-color: black;
  top: 45%;
  border-radius: 50%;
}
.eye.left{
    position: absolute;
}
.eye.right{
    position:absolute;
    right:0px;
}
.nose{
    position:absolute;
    width: 20%;
    height: 10%;
    bottom:30px;
    left:70px;
    background-color: black;
    border-radius: 70% 70% 100% 100%;
}
.mouth{
    position: absolute;
    width: 50%;
    height: 12%;
    bottom:14px;
    left: 40px;
    background-color: black;
    border-radius: 50%;
}
.lid{
    position:absolute;
    width: 50%;
    height: 45%;
    top:-2px;
    background: linear-gradient(
        45deg,
        var(--panda-skin),
        rgb(239, 240, 228)
      );
    border-radius: 100% 100% 100% 100%;
}
.lid.left{
    position:absolute;
    left:-3px;
    bottom:.5px;
    transform: rotate(6deg);
}
.lid.right{
    position:absolute;
    left:54px;
    transform: rotate(-6deg);
}

.panda-body{
    position:absolute;
    width: 60%;
    height: 44%;
    margin-left:17%;
    margin-top:54%;
    background: linear-gradient(
        45deg,
        var(--panda-skin),
        rgb(239, 240, 228)
      );
      
    border-radius: 45% 45% 0% 0%;
    border-color:black;
    border-style: solid;
    border-width: 6px;
    overflow: hidden;
    z-index: 1;

}
.stain{
    position: absolute;
    width: 100%;
    height: 80%;

    top: 0px;
    border-radius: 45%;
    background-color: black;
}
.arm{
    position:absolute;
    width: 30%;
    height: 40%;
    
    background: linear-gradient(
        45deg,
        var(--panda-skin),
        rgb(239, 240, 228)
      );
      
    border-radius: 110% 110% 110% 110%;
    border-color:black;
    border-style: solid;
    overflow: hidden;
    z-index: 2;
}
.arm.right{
    position:absolute;
    margin-left:60%;
    margin-top:60%;
    z-index: -1;
    transform: rotate(230deg);
    animation: 3s linear infinite wave-right;
}
.arm.left{
    position:absolute;
    margin-left:5%;
    margin-top:60%;
    z-index: -1;
    transform:rotate(-230deg);
    animation: 3s linear infinite wave-left;
}
.hand{
    
    position:absolute;
    width: 100%;
    height: 100%;
    margin:0%;
    padding-top:100%;
    padding-right:10%;
    top:50px;
    transform: rotate(90deg);
    background:black;
    border-radius: 200% 100% 150% 100%;
    z-index: -1;
}

@keyframes wave-right {
    0% {
        transform: rotate(230deg) scaleX(-1);
      }
      25% {
        transform: rotate(245deg) scaleX(-1);
      }
      50% {
        transform: rotate(260deg) scaleX(-1);
      }
      75% {
        transform: rotate(245deg) scaleX(-1);
      }
      100% {
        transform: rotate(230deg) scaleX(-1);
      }
    
}
@keyframes wave-left {
    0% {
        transform: rotate(-230deg) scaleX(-1);
      }
      25% {
        transform: rotate(-245deg) scaleX(-1);
      }
      50% {
        transform: rotate(-260deg) scaleX(-1);
      }
      75% {
        transform: rotate(-245deg) scaleX(-1);
      }
      100% {
        transform: rotate(-230deg) scaleX(-1);
      }
    
}

/* falta por implementar el chat que va a estar al lado del dibujo,
 el cual tendra una breve descripcion de mi persona.*/

 .chat-box{
    position: absolute;
    left:310px;
    bottom:270px;
    
}
.triangle{
    
    position:absolute;
    height: 0;
    width: 0;
    top:-10px;
    background-color: transparent;
    border-left: 200px solid transparent;
    border-right:300px solid transparent;
    border-bottom: 100px solid whitesmoke;
    border-top:transparent;
    z-index: 1;
    border-style: solid;
 }
 .box{
    position:absolute;
    height:300px;
    width: 900px;
    background-color:whitesmoke;
    left:50px;
    bottom:-100px;
    border-radius: 50%;
    z-index: 0;
    color:black;
 }

 @media (max-width:700px) {
    .row{
        flex-direction: column;
    }
}
